@import "../../global.scss";

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainColor;
  position: relative;

  .arrow {
    height: 100px;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 100px;
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 450px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 800px;
        height: 100%;
        border-radius: 20px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        .left {
          flex: 4;
          height: 65%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .leftContainer {
            width: 75%;
            height: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
          }
          h2 {
            font-size: 20px;
            color: $mainColor;
          }
          p {
            font-size: 13px;
          }

          .projectUrls {
            display: flex;
            justify-content: space-between;
            width: 75%;
          }
          a {
            color: black;
            font-size: 15px;
            font-weight: 600;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .right {
        flex: 8;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 475px;
          overflow: hidden;
        }
      }
    }
  }
}
